<div class="jumbotron">
    <h1>About</h1>
    <img src="img/kingdef.jpg" /><br />
    <p class="lead">King Petey has rapidly increased the amount of power he has under his domain. It has reached the point that he should now be referred to as "Emperor" of all world countries.</p>
    <p><a class="btn btn-lg btn-success" href="#/donate" role="button">Bow down</a></p>
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <h4>The Buildup</h4>
        <p>Ever since Petey's immaculate conception there has been turmoil in the world. September 2005 dawn a new era of transformation within the world. Now that Peter has ultimate power the world has a lot to look forward to in the next 4-6 years.</p>
    </div>

    <div class="col-lg-6">
        <h4></h4>
        <p></p>
    </div>
</div>

<div class="footer">
    <p>The Royal Household &copy; 2015</p>
</div>
