<div class="jumbotron">
    <h1>Gallery</h1>
    <img src="" />
    <p class="lead">Emperor Petey has many pictures taken of himself to entertain his royal subjects. Here are some for you to enjoy.</p>
    <div id="galleria">
            <!--pictures loaded from json-->
    </div>  
    <br>
    <p><a class="btn btn-lg btn-success" href="#/donate" role="button">Bow down today</a></p>
</div>
<div class="row">
    <div class="col-lg-10">
           
    </div>
</div>  

<div class="footer">
    <p>The Royal Household &copy; 2015</p>
</div>
