<div class="jumbotron">
    <h1>Gallery</h1>
    <img src="" /><br />
    <p class="lead">Emperor Petey has taken many pictures of himself to entertain his royal subjects. Here are some for you to enjoy.</p>
    <p><a class="btn btn-lg btn-success" href="#/donate" role="button">Bow down today</a></p>
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <h4>The Car Tires</h4>
        <p>Gallery goes here</p>
    </div>

    <div class="col-lg-6">
        <h4>Free Reign Waste</h4>
        <p>Gallery goes here</p>
    </div>
</div>

<div class="footer">
    <p>The Royal Household &copy; 2015</p>
</div>
