<div class="jumbotron">
    <h1>{{data.message}} New World Leader</h1>
    <img src="img/regalnaps.jpg" /><br />
    <p class="lead">King Peter of the Chicken/Lamb Dynasty recently appointed himself "Emperor of the World" following his recent conquest of the hearts of millions on twitter and instagram.</p>
    <p><a class="btn btn-lg btn-success" href="#/donate" role="button">Bow down today</a></p>
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <h4>Foreign Policy</h4>
        <p>All other countries and species are immediately deemed possibly enemies of the state prior to a inspective butt-sniff.</p>

        <h4>Curfew Rules</h4>
        <p>All dogs must be locked into their cages. The Emperor and his royal cavalcade have the only authority to roam the house after 11pm.</p>

        <h4>Feeding Times</h4>
        <p>The Emperor's subjects are required to feed at the same time he is fed. This is at 5 o'clock in the morning and 5 o'clock in the evening.</p>
    </div>

    <div class="col-lg-6">
        <h4>Domestic Policy</h4>
        <p>No one is allowed to enter/leave the world without the Emperor's permission or without the royal sniffing ceremony.</p>

        <h4>Spying & Begging</h4>
        <p>Subjects of the new world order that bring their dogs into our new world must be pre-screened by the Emperor himself. He has the sole authority to beg under the table. All other pets must wait on the carpet.</p>

        <h4>Space Program</h4>
        <p>Emperor Petey has plans to explore the Rawhide Nebula in search of new forms of treats and energy by 2015.</p>
    </div>
</div>

<div class="footer">
    <p>The Royal Household &copy; 2015</p>
</div>
