<div class="jumbotron">
    <h1>Territory</h1>
    <img src="img/drivingforward.jpg" /><br />
    <p class="lead">Emperor Petey demands that he take part in daily convoy rides and insists that he drive the lead vehicle. </p>
    <p><a class="btn btn-lg btn-success" href="#/donate" role="button">Bow down today</a></p>
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <h4>The Car Tires</h4>
        <p>Emperor Petey must inspect any and all car tires that touch the World's driveway. He is also in charge of "baptizing" and "re-baptizing" any and all tires in said driveway.</p>
    </div>

    <div class="col-lg-6">
        <h4>Free Reign Waste</h4>
        <p>The Emperor shall go anywhere he pleases when he needs to offload his royal waste. Every lawn is his domain and all of the lawns in the world are under his control by royal decree.</p>
    </div>
</div>

<div class="footer">
    <p>The Royal Household &copy; 2015</p>
</div>
